.Header {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	h1 {
		font-size: 2rem;
	}
	ul {
		display: flex;
		gap: 40px;
		li {
			font-size: 1.3rem;
			.on {
				color: blue;
			}
		}
	}
}
